{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}
{% blocktrans with name=meal.person.name date=meal.date|date:"Y-m-d" %}
Editando {{ name }}@{{ date }}:{{ path }}.
{% endblocktrans %}
{% endblock title %}

{% block page_title %}
{% blocktrans with name=meal.person.name date=meal.date|date:"Y-m-d" %}
Editando {{ name }}@{{ date }}:{{ path }}.
{% endblocktrans %}
{% endblock page_title %}


{% block content %}
<div class="row">
  <div class="col-md-8">
    {% crispy form %}
  </div>
  <div class="col-md-4">
    <div id="ingredient-finder"></div>
  </div>
</div>
<div id="meal-counter"></div>
{% endblock content %}

{% block extra_js %}
<script>
$(document).ready(function() {
  $.get('{% url "ingredient:finder" %}', function(data){
    $('#ingredient-finder').html(data);
  });
  $('#meal-counter-button').click(function(){
    $('#meal-counter').html('LOADING....');
    $.post(
      "{% url "meals:counter" %}",
      {ingredients: $('#id_ingredients').val()},
      function(data) { $('#meal-counter').html(data)}
    );
  });
})
</script>
{% endblock extra_js %}

{# vim: set ft=htmldjango :#}
