{% extends "base.html" %}
{% load i18n %}

{% block title %}Comida - {{ meal.person.name }} - {{ meal.date }}{% endblock title %}
{% block page_title %}Comida - {{ meal.person.name }} - {{ meal.date }}{% endblock page_title %}

{% block page_buttons %}
<a href="{% url "meals:detail" meal.person prev_meal_date %}" title="{% trans "Comida anterior" %}"><span class="glyphicon glyphicon-arrow-left icon-add"></span></a>
<a href="{% url "meals:detail" meal.person next_meal_date %}" title="{% trans "Comida siguiente" %}"><span class="glyphicon glyphicon-arrow-right icon-add"></span></a>
{% endblock page_buttons %}

{% block content %}

<div class="alert alert-info">
  {% if meal.is_free %}
  {% trans "Este día fue libre." %}
  {% else %}
  {% trans "Este día no fue libre." %}
  {% endif %}
  <a class="btn btn-primary btn-xs" href="{% url "meals:toggle_free" meal.person.name meal.date %}">Cambiar</a>
</div>

{% with log=meal.log %}
{% include "meals/meal_log.html" %}
{% endwith %}
<div class="btn-toolbar">
  <a class="btn btn-primary pull-right" href="{% url "persons:detail" meal.person.name %}">{% trans "Volver" %}</a>
</div>

{% if meal.photos.exists %}
<ul class='meal-photo-list'>
  {% for photo in meal.photos.all %}
  <li><img src="{{ photo.image.url }}" /></li>
  {% endfor %}
</ul>
{% else %}
<div class="jumbotron" style='margin-top:20px;'>{% trans "No hay fotos para este día." %}</div>
{% endif %}

{% endblock content %}

{% block extra_css %}
<style>
.meal-photo-list li {
  list-style-type: none;
  width: 300px;
  height: 300px;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  display: flex;
  align-items: center;
}
.meal-photo-list li img {
  margin:auto;
  max-width: 95%;
  max-height: 95%;
}
</style>
{% endblock extra_css %}
{# vim: set ft=htmldjango :#}
