{% extends "base.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}
{% blocktrans with name=meal.person.name date=meal.date|date:"Y-m-d" %}
Agregar subcomida a {{ name }}@{{ date }}:{{ path }}
{% endblocktrans %}
{% endblock title %}

{% block page_title %}
{% blocktrans with name=meal.person.name date=meal.date|date:"Y-m-d" %}
Agregar subcomida a {{ name }}@{{ date }}:{{ path }}
{% endblocktrans %}
{% endblock page_title %}

{% block content %}
{% crispy form %}
{% endblock content %}

{# vim: set ft=htmldjango :#}
