.log-level-0 {
  background-color: #5bc0de;
}
.log-level-1 {
  background-color: #df691a;
}
.log-level-2 {
  background-color: #4E5D6C;
}
.log-level-3 {
  background-color: #664422;
}
.log-level-4 {
  background-color: #662222;
}

.icon-error {
  color: #f39c12;
  font-size: larger;
}

.ingredient-finder-panel {
  height: 300px;
  overflow: auto;
}

.ingredient-finder-panel>li{
  list-style-type: none;
}

.ingredient-finder-result-name {
  font-weight: bold;
  font-size: larger;
}

.ingredient-finder-result:hover {
  background-color: coral;
  color: #2B3E50;
}

.meal-log th {
  font-size: larger;
}

.meal-log td {
  font-weight: bold;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
  display: block;
}
