.log-level-0 {
  background-color: #226622;
}
.log-level-1 {
  background-color: #446622;
}
.log-level-2 {
  background-color: #444422;
}
.log-level-3 {
  background-color: #664422;
}
.log-level-4 {
  background-color: #662222;
}

.icon-error {
  color: #f39c12;
  font-size: larger;
}

.ingredient-finder-panel {
  height: 300px;
  overflow: hidden;
}

.ingredient-finder-panel>li{
  list-style-type: none;
}

.ingredient-finder-result-name {
  font-weight: bold;
  font-size: larger;
}
