{% extends "base.html" %}
{% load i18n utils_tags %}

{% block title %}Persona - {{ person.name }}{% endblock title %}
{% block page_title %}Persona - {{ person.name }}{% endblock page_title %}

{% block page_buttons %}
<a href="{% url "meals:create" person.name %}" title="{% trans "Agregar comida" %}"><span class="glyphicon glyphicon-plus icon-add"></span></a>
<a href="{% url "persons:import" person.name %}" title="{% trans "Importar comidas" %}"><span class="glyphicon glyphicon-import icon-add"></span></a>
<a href="{% url "persons:update" person.name %}" title="{% trans "Editar persona" %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a>
{% endblock page_buttons %}

{% block content %}

<ul class="nav nav-pills nav-stacked">
  <li><a href="{% url "persons:values" person.name %}">{% trans "Estadísticas" %}</a></li>
</ul>

<h2>{% trans "Comidas" %} </h2>
<ul>
  {% for meal, log in meals %}
  <li class="meal">
  <h4><a href="{% url "meals:detail" person.name meal.date %}">{{ meal.date|date:'M j, Y' }}</a></h4>
  {% with nval=log.nutritional_value %}
  {% include "meals/layout/meal_value.html" with value=nval.calories range=person.valid_calories is_free=meal.is_free unit="kCal" only %}
  <table class="table text-center meal-table">
    <tbody>
    <tr>
      <td>
        {% include "meals/layout/meal_value.html" with value=nval.net_carbs range=person.valid_carbs is_free=meal.is_free title=_("Carbs netos") only %}
      </td>
      <td>
        {% include "meals/layout/meal_value.html" with value=nval.protein range=person.valid_proteins is_free=meal.is_free title=_("Proteínas") only %}
      </td>
      <td>
        {% include "meals/layout/meal_value.html" with value=nval.fat range=person.valid_fat is_free=meal.is_free title=_("Grasas") only %}
      </td>
    </tr>
    </tbody>
  </table>
  {% endwith %}
  </li>
  {% endfor %}
</ul>
<div class="row">
  <a class="btn btn-primary pull-right" href="{% url "persons:list" %}">{% trans "Volver" %}</a>
</div>
{% endblock content %}

{% block extra_css %}
<style>
li.meal {
  list-style-type: none;
  width: 150px;
  height: 100px;
  display: inline-block;
  text-align: center;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  margin: 2px;
}

li.meal .meal-value {
  font-weight: bold;
}

.meal-table {
  text-align: center;
}

.meal-value-danger {
  color: red;
}

.meal-value-warning {
  color: yellow;
}

.meal-value-ok {
  color: lightgreen;
}
</style>
{% endblock extra_css %}
{# vim: set ft=htmldjango :#}
